p{
  font-size: 1.6rem;
  color: white;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

button{
  background-color: transparent;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.6rem;
}

.main-container{
  display: flex;
  padding: 2rem;
  gap: 3rem;
  align-items: flex-start;
}

.sidebar-container{
  flex: 1;
}

.item-container{
  font-size: 1.6rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgb(175, 175, 175) 0px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.personal-details-container{
  justify-content: flex-start;
  padding: 2rem;
  flex-direction: column;
}

.resume-container{
  flex: 3;
  box-shadow: rgb(175, 175, 175) 0px 0px 10px 0px;
  padding-bottom: 2rem;
}

button:hover{
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

.clear-button{
  color: red;
}

.title{
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: black;
  display: block;
}

label{
  margin-top: 1rem;
}

input{
  border: none;
  background-color: rgb(230, 230, 230);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.resume-top{
  background-color: rgb(14, 55, 78);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.name-output{
  font-size: 3.25rem;
  color: white;
  font-weight: bold;
}

.resume-top-info-container{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.resume-top img{
  height: 20px;
  width: auto;
}

.button-container{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.button-container button{
  border: 1px solid grey
}

.education-item{
  background-color: rgb(230, 230, 230);
  margin-bottom: 1rem;

  transition: transform 0.1s ease-in-out
}

.education-item:hover{
  transform: scale(1.05);
}

.main-resume-section{
  padding-left: 5rem;
  padding-right: 5rem;
}

.resume-heading{
  background-color: lightgrey;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.education-container{
  display: flex;
  margin-bottom: 1rem;
}

.education-container div{
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.education-container p{
  color: black;
  font-size: 1.8rem;
  display: block;
}

.education-list-contiainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.education-container .dates{
  margin-bottom: 0.5rem;
}

.experience-container{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 50rem;
}

.experience-container .left-experience-container{
  flex: 1;
}

.experience-container .right-experience-container{
  flex: 3;
}

.right-experience-container .space{
  margin-bottom: 0.5rem;
}

.experience-container div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-container p{
  color: black;
  font-size: 1.8rem;
  display: block;
}

.profile-text{
  color: black;
  margin-top: 1rem;
  font-size: 1.8rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.textarea{
  padding: 10rem;
}

.download-button{
  width: 100%;
}